/* Sidebar fixe */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;         /* prend toute la hauteur de l’écran */
  background: #f8f9fa;   /* couleur claire Bootstrap */
  border-right: 1px solid #ddd;
  overflow-y: auto;      /* scroll si contenu trop grand */
  z-index: 1000;
}

/* Contenu principal prend la place à droite */
.main-content {
  margin-left: 0%;  
   margin-right: 0%;  
  padding: 20px;
  background: #fff;
  min-height: 100vh;
}
