<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-flex align-items-center" routerLink="/condidat">
        <div class="brand-container">
            <img src="assets/2.jpg" alt="Logo" style="height: 40px; margin-right: 10px;" class="navbar-logo">
            <span class="brand-title">{{ 'BRAND' | translate }}</span>
        </div>
        <div class="company-info d-flex align-items-center mt-2">
            <p class="mb-0 me-3 d-flex align-items-center">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                Route National 11, Mohammadia, Alger
                <a href="https://www.google.com/maps?q=Route+National+11+Mohammadia+Alger" target="_blank"></a>
            </p>
            <p class="mb-0 d-flex align-items-center">
                <fa-icon [icon]="faPhone"></fa-icon> 0698616281
            </p>
        </div>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/greet">
                    <fa-icon [icon]="faHome"></fa-icon> {{ 'Home' | translate }}
                    <span *ngIf="CountItem > 0" class="badge text-white">
                        {{ CountItem }}
                    </span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" (click)="goToJobs()">
                    <fa-icon [icon]="faReceipt"></fa-icon> {{ 'JOB' | translate }}
                </a>
            </li>

             
         <!-- Dans votre navbar, ajoutez cet élément -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="partenariatDropdown" role="button" 
       data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon [icon]="faHandshake"></fa-icon> Partenariat
    </a>
    <ul class="dropdown-menu" aria-labelledby="partenariatDropdown">
        <li><a class="dropdown-item" routerLink="/entreprises-recrutent">Entreprises qui recrutent</a></li>
        <li><a class="dropdown-item" routerLink="/devenir-partenaire">Devenir partenaire</a></li>
        <li><a class="dropdown-item" routerLink="/nos-partenaires">Nos partenaires</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/offres-emploi">Offres d'emploi</a></li>
        <li><a class="dropdown-item" routerLink="/stages">Stages & Formation</a></li>
        
    </ul>
</li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ currentUser?.username || ('PROFIL' | translate) }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngIf="!isAuthenticated"><a class="dropdown-item" routerLink="/login">Se connecter</a></li>
                    <li *ngIf="isAuthenticated"><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
                    <li *ngIf="!isAuthenticated"><a class="dropdown-item" routerLink="/register">S'inscrire</a></li>

                   
                </ul>
            </li>
             <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarNotificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <fa-icon [icon]="faBell"></fa-icon>
    <span *ngIf="notificationCount > 0" class="badge bg-danger notification-badge">
      {{ notificationCount }}
    </span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarNotificationDropdown">
    <li *ngFor="let notification of notifications">
      <a class="dropdown-item" href="#">
        <div>
          <strong>{{ notification.title }}</strong>
          <p class="mb-0">{{ notification.message }}</p>
          <small class="text-muted">{{ notification.date | date:'short' }}</small>
        </div>
      </a>
    </li>
    <li *ngIf="notifications.length === 0">
      <a class="dropdown-item">Aucune notification</a>
    </li>
  </ul>
</li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <fa-icon [icon]="faGlobe"></fa-icon> Langue
                </a>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" (click)="switchLanguage('fr')">Français</a></li>
                    <li><a class="dropdown-item" (click)="switchLanguage('ar')">العربية</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>