<div class="container-fluid">
  <h2 class="mb-4">🏢 Gestion des entreprises</h2>

  <!-- Barre d’actions -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" class="form-control w-50" placeholder="🔎 Rechercher une entreprise...">
    <button class="btn btn-primary">
      ➕ Ajouter une entreprise
    </button>
  </div>

  <!-- Tableau entreprises -->
  <div class="table-responsive shadow rounded">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>num</th>
          <th>Nom entreprise</th>
          <th>Email</th>
          <th>status</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entreprise of entreprises; let i = index">
          <td>{{i+1}}</td>
          <td>{{ entreprise.username }}</td>
          <td>{{ entreprise.email }}</td>
        <td>
  <span class="status" [ngClass]="entreprise.status">
    {{ entreprise.status === 'active' ? ' Active' : 'desactive' }}
  </span>
</td>

          <td>{{ entreprise.phone }}</td>
          <td>
            <button (click)="voirDetails(entreprise.id)" class="btn btn-info btn-sm">👁 Voir</button>
          <button *ngIf="entreprise.status === 'active'" (click)="desactiver(entreprise.id)" class="btn btn-warning btn-sm">⛔ Désactiver</button>
          <button *ngIf="entreprise.status === 'desactive'" (click)="activer(entreprise.id)" class="btn btn-success btn-sm">✅ Activer</button>
       
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

