<div class="card p-3">
  <h3>📋 Gestion des Candidats</h3>
   <!-- Barre d’actions -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" class="form-control w-50" placeholder="🔎 Rechercher une entreprise...">
    
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of candidats">
        <td>{{ c.username }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.status }}</td>
      <td>
  <button class="btn btn-success btn-sm" (click)="changerStatut(c, true)">Accepter</button>
  <button class="btn btn-danger btn-sm" (click)="changerStatut(c, false)">Refuser</button>
  <button class="btn btn-info btn-sm" (click)="voirDetail(c)">Voir Détails</button>
</td>

      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <app-candidat-detail 
    [candidat]="selectedCandidat" 
    (closeModal)="fermerModal()">
  </app-candidat-detail>
</div>
