<div class="candidat-card" >
    
  <div class="text-center"   >
    <img [src]="candidat?.photo || 'assets/user.png'" alt="Photo de candidat" class="candidat-photo">
   <!-- <h2>{{ candidat?.username }}</h2>-->
    <p class="text-muted">{{ candidat?.username }} - {{ candidat?.email }}</p>
    <button *ngIf="!editMode" class="btn btn-primary" (click)="toggleEdit()">✏️ Modifier</button>
    <!-- Choix rapide entre 2 photos -->
  <div class="photo-options" *ngIf="editMode">
    <img src="assets/homme.png" class="option-photo" (click)="changerPhoto('assets/homme.png')">
    <img src="assets/femme.png" class="option-photo" (click)="changerPhoto('assets/femme.png')">
  </div>
  </div>
  


<!-- Afficher progression -->
<div class="progress-container">
  <label>Complétude du profil :</label>
  <div class="progress-bar">
 <div class="progress-fill" [style.width.%]="progression"></div>
  </div>
  <p>{{ progression }} %</p>
  <p>status: {{ candidat?.status }} </p>
</div>

<p *ngIf="candidat?.status === 'incomplet'" class="status-inactive">
  ⚠️ Votre profil est incomplet. Veuillez ajouter plus d’informations.
</p>

<p *ngIf="candidat?.status === 'pret'" class="status-pending">
  ✅ Votre profil est presque prêt. Complétez toutes les informations.
</p>

<p *ngIf="candidat?.status === 'en_attente_validation'" class="status-pending">
  ⏳ Votre profil est prêt. Il deviendra actif après la vérification de l’administrateur..
</p>

<p *ngIf="candidat?.status === 'active'" class="status-active">
  🎉 Votre profil est actif et visible par les entreprises.
</p>

<p *ngIf="candidat?.status === 'desactive'" class="status-inactive">
  🚫 Votre compte est désactivé,  Veuillez ajouter plus d’informations
</p>



 <!-- Afficher le CV si dispo -->
  <p *ngIf="candidatSafe.cv">
    <a [href]="candidatSafe.cv" target="_blank">📄 Voir mon CV</a>
  </p>

  <!-- Upload si en mode édition -->
  <div *ngIf="editMode">
    <input type="file" class="form-control" accept="application/pdf" (change)="onCvUpload($event)">
  </div>

 <div class="section">
  <h4>Informations personnelles</h4>
  <p><b>Téléphone :</b> {{ candidat?.phone }} , Adresse : {{ candidat?.adresse }}</p>
  
</div>

  <!-- Bio -->
<div class="section" *ngIf="candidat">
  <h4>A propos de vous</h4>
  <p *ngIf="!editMode">{{ candidat.bio }}</p>
  <textarea *ngIf="editMode" [(ngModel)]="candidat.bio" class="form-control"></textarea>
</div>


  <!-- Compétences -->
  <div class="section">
    <h4>Compétences</h4>
    <div class="skills">
      <span *ngFor="let c of candidat?.competences; let i = index" class="badge bg-primary m-1">
        {{ c }} <span *ngIf="editMode" (click)="removeCompetence(i)" style="cursor:pointer">❌</span>
      </span>
    </div>
    <div *ngIf="editMode" class="mt-2">
      <input class="form-control" [(ngModel)]="newCompetence" placeholder="Ajouter une compétence">
      <button class="btn btn-sm btn-success mt-1" (click)="addCompetence(newCompetence)">+ Ajouter</button>
    </div>
  </div>
<!-- 🧳 Expériences -->
<div class="section">
  <h4>🧳 Expériences professionnelles</h4>

  <ul class="experience-list">
    <li *ngFor="let e of candidat?.experiences; let i = index" class="experience-item">
      <div>
        <b class="poste">{{ e.poste }}</b>
        <span class="entreprise">chez {{ e.entreprise }}</span>
        <span class="duree">({{ e.duree }})</span>
      </div>

      <span *ngIf="editMode" class="delete-btn" (click)="removeExperience(i)">❌</span>
    </li>
  </ul>

  <div *ngIf="editMode" class="edit-section mt-2">
    <input class="form-control mb-1" [(ngModel)]="newExperience.poste" placeholder="Poste occupé">
    <input class="form-control mb-1" [(ngModel)]="newExperience.entreprise" placeholder="Nom de l'entreprise">
    <input class="form-control mb-1" [(ngModel)]="newExperience.duree" placeholder="Durée (ex : 2020 - 2023)">
    <button class="btn btn-sm btn-success w-100" (click)="addExperience(newExperience)">+ Ajouter une expérience</button>
  </div>
</div>

<!-- 🎓 Formations -->
<div class="section mt-4">
  <h4>🎓 Formations</h4>

  <ul class="formation-list">
    <li *ngFor="let f of candidat?.formations; let i = index" class="formation-item">
      <div>
        <b class="diplome">{{ f.diplome }}</b> — 
        <span class="ecole">{{ f.ecole }}</span>
        <span class="annee">({{ f.annee }})</span>
      </div>

      <span *ngIf="editMode" class="delete-btn" (click)="removeFormation(i)">❌</span>
    </li>
  </ul>

  <div *ngIf="editMode" class="edit-section mt-2">
    <input class="form-control mb-1" [(ngModel)]="newFormation.diplome" placeholder="Diplôme ou certificat">
    <input class="form-control mb-1" [(ngModel)]="newFormation.ecole" placeholder="Établissement / École">
    <input class="form-control mb-1" [(ngModel)]="newFormation.annee" placeholder="Année ou période">
    <button class="btn btn-sm btn-success w-100" (click)="addFormation()">+ Ajouter une formation</button>
  </div>
</div>

<div class="section">
  <h4>Langues maîtrisées</h4>

  <div class="langues">
    <span *ngFor="let l of candidat?.langues; let i = index" class="badge bg-info text-dark m-1">
      {{ l }}
      <span *ngIf="editMode" (click)="removeLangue(i)" style="cursor:pointer">❌</span>
    </span>
  </div>

  <div *ngIf="editMode" class="mt-2">
    <input class="form-control" [(ngModel)]="newLangue" placeholder="Ajouter une langue (ex: Français, Anglais)">
    <button class="btn btn-sm btn-success mt-1" (click)="addLangue()">+ Ajouter</button>
  </div>
</div>

  <!-- Actions -->
  <div class="text-center mt-3">     

    <div *ngIf="editMode">
      <button class="btn btn-success" (click)="savecandidat()">💾 Sauvegarder</button>
      <button class="btn btn-secondary" (click)="toggleEdit()">❌ Annuler</button>
      <button class="btn btn-outline-dark retour-btn" (click)="retour()"> ⬅ Retour aux offres</button>
    </div>
  </div>
</div>

