<div class="entreprise-card" *ngIf="entreprise">
  <div class="entreprise-header">
    <img *ngIf="entreprise.logo" [src]="entreprise.logo" alt="Logo {{entreprise.username}}" class="logo" />
    <h2>{{ entreprise.username }}</h2>
    <button class="btn-edit" (click)="toggleEdit()">✏️ Éditer</button>
  </div>

  <!-- Vue classique -->
  <div class="entreprise-info" *ngIf="!editMode">
    <p><b>Email :</b> {{ entreprise.email }}</p>
    <p><b>Téléphone :</b> {{ entreprise.phone }}</p>
    <p><b>Secteur :</b> {{ entreprise.secteur }}</p>
    <p><b>Description :</b> {{ entreprise.description || 'Non renseignée' }}</p>
    <p><b>Site :</b> 
      <a *ngIf="entreprise.site" [href]="entreprise.site" target="_blank">{{ entreprise.site }}</a>
      <span *ngIf="!entreprise.site">Non renseigné</span>
    </p>
    <p><b>Status :</b> 
      <span [class.active]="entreprise.status === 'active'" 
            [class.inactive]="entreprise.status === 'desactive'">
        {{ entreprise.status }}
      </span>
    </p>
  </div>

 
</div>

