<nav class="sidebar bg-light p-3 vh-100">
  <!-- Photo + Nom -->
 <div class="profil-container text-center">
  <h2>Mon Profil</h2>
 <!--- <img [src]="profil.photo" alt="Photo de profil" class="profil-photo">
  <h2>{{ currentUser?.username || 'PROFIL' }}</h2>-->
</div>
  <ul class="nav flex-column">
    <li class="nav-item"><a routerLink="dashboard" class="nav-link">📊 Tableau de bord</a></li>
    <li class="nav-item"><a routerLink="mes-offres" class="nav-link">📌 Mes offres</a></li>
    <li class="nav-item"><a routerLink="ajouter-offre" class="nav-link">➕ Ajouter une offre</a></li>
    <li class="nav-item"><a routerLink="candidatures" class="nav-link">📂 Candidatures reçues</a></li>
    <li class="nav-item"><a routerLink="profil" class="nav-link">⚙️ Mon profil</a></li>
    <li class="nav-item"><a routerLink="settings" class="nav-link">🔐 Paramètres</a></li>
  </ul>
</nav>

