


<!-- Hero Section -->
<!-- Hero Section -->
<div class="hero-section d-flex align-items-center text-center text-white"

 >
  <div class="overlay"></div>
  <div class="container">
    <h1 class="display-3 fw-bold">Trouvez votre annonce idéale</h1>
    <p class="lead mt-3">
      Explorez des milliers d’offres d’emploi
    </p>

    <!-- Boutons actions -->
    <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap">
      <a (click)="goToAnnonces()" class="btn btn-lg btn-light px-4 shadow-sm">
        🔍 Voir les annonces
      </a>
      <a (click)="deposerAnnonce()"  class="btn btn-lg btn-warning px-4 shadow-sm text-dark fw-bold">
        ➕ Déposer une annonce
      </a>
    </div>
  </div>
</div>


<section class="features py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h4 class="fw-bold">🔍 Recherche facile</h4>
        <p>Filtrez les offres selon vos compétences et vos préférences.</p>
      </div>
      <div class="col-md-4">
        <h4 class="fw-bold">📄 Postulez rapidement</h4>
        <p>Déposez votre candidature en un seul clic.</p>
      </div>
      <div class="col-md-4">
        <h4 class="fw-bold">💼 Espace candidat</h4>
        <p>Gérez vos candidatures et suivez leur évolution.</p>
      </div>
    </div>
  </div>
</section>

