<div class="page-container">
  <h2>📄 Mes candidatures</h2>

  <div *ngIf="candidatures.length === 0">
    <p>Vous n'avez aucune candidature pour le moment.</p>
  </div>

  <div class="candidature-list" *ngIf="candidatures.length > 0">
    <div *ngFor="let c of candidatures" class="candidature-item">
     <!---- {{ getOffreTitre(c.offreId) }}</h3>
      <p>Entreprise: {{ getOffreEntreprise(c.offreId) }}</p> -->
      <p>Date de candidature: {{ c.dateCandidature | date:'mediumDate' }}</p>
      <p *ngIf="c.message">Message: {{ c.message }}</p>
      <span class="statut" [ngClass]="c.statut.toLowerCase()">{{ c.statut }}</span>

      <div class="actions">
        <button (click)="voirDetails(c)">👁 Voir détails</button>
        <button (click)="annulerCandidature(c.id)">❌ Annuler</button>
      </div>
    </div>
  </div>
</div>

