<div class="container mt-4">

  <div class="row">
    <!-- Sidebar pour les filtres checkbox -->
    <div class="col-md-3">
      <div class="filter-sidebar">
        <div class="form-check mb-2">
          <input type="checkbox" id="less-than-3m" value="30000" class="form-check-input" (change)="onPriceFilterChange($event)" />
          <label class="form-check-label" for="less-than-3m">{{'MOINS3'|translate}}</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" id="less-than-4m" value="40000" class="form-check-input" (change)="onPriceFilterChange($event)" />
          <label class="form-check-label" for="less-than-4m">{{'MOINS4'|translate}}</label>
        </div>
      </div>


       <!-- Slider de prix au-dessus des produits -->
      <div class="price-filter mb-3">
        <label class="form-label">{{ 'PRIX' | translate }}</label>
        <div class="slider-wrapper">
          <input type="range" min="4000" max="400000" [(ngModel)]="minPrice" (input)="onPriceChange()" class="range-slider" />
          <input type="range" min="4000" max="400000" [(ngModel)]="maxPrice" (input)="onPriceChange()" class="range-slider" />
          <div class="slider-progress-container">
            <div class="slider-progress" [style.left.%]="getProgressLeft()" [style.width.%]="getProgressWidth()"></div>
          </div>
        </div>
        <div class="price-values">
          <span>{{ minPrice | thousandSeparator }}</span>
          <span>{{ maxPrice | thousandSeparator }}</span>
        </div>
    </div>
</div>
    <!-- Contenu principal -->
    <div class="col-md-9">

     


      <!-- Liste des produits -->
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-4" *ngFor="let product of filteredProducts">
          <div class="card product-card" (click)="goToProductDetail(product)">
            <div class="image-container">
              <img [src]="product.image" alt="{{ product.name }}" class="card-img-top product-image">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text"><strong>Prix : {{ product.price | thousandSeparator }}</strong></p>
              <p class="card-description">{{ product.description }}</p>
              <button class="btn btn-primary" (click)="addToCart(product, $event)">
                <fa-icon [icon]="faCartPlus"></fa-icon>
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
