<aside class="sidebar">
  
<!-- Photo + Nom -->
<div class="profil-container text-center">
  <h2>Profil</h2>

  <!-- Photo -->
  <img [src]="profil.photo" alt="Photo de profil" class="profil-photo">

  <!-- Nom -->
  <h3>visiteur</h3>

 
</div>

  <!-- 📌 Liens rapides -->
  <div class="profile-links">
    <ul>      
     
    <li><a routerLink="/visiteur">💼 Voir les offres</a></li>     
    <li><a routerLink="/visiteur/aide-support">🆘 Support & Aide</a></li>
    <li>  <a routerLink="/visiteur/success-stories">    <fa-icon [icon]="faStar"></fa-icon> Success Stories</a></li>
    <li>  <a routerLink="/register"> <fa-icon [icon]="faUserPlus"></fa-icon> Créer un compte  </a></li>


    </ul>
  </div>

 
</aside>


