<nav class="sidebar bg-dark text-white vh-100 p-3">
  
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/dashboard">
        <fa-icon [icon]="faTachometerAlt"></fa-icon> Tableau de bord
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" data-bs-toggle="collapse" href="#usersMenu" role="button">
        <fa-icon [icon]="faUsers"></fa-icon> Gestion des utilisateurs
      </a>
      <ul class="collapse list-unstyled ps-3" id="usersMenu">
        <li><a class="nav-link text-white" routerLink="/admin/users/candidats">Candidats</a></li>
        <li><a class="nav-link text-white" routerLink="/admin/users/entreprises">Entreprises</a></li>
      </ul>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/offres">
        <fa-icon [icon]="faBriefcase"></fa-icon> Gestion des offres
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/candidatures">
        <fa-icon [icon]="faFileAlt"></fa-icon> Gestion des candidatures
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/alerts">
        <fa-icon [icon]="faBell"></fa-icon> Alertes & Notifications
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/settings">
        <fa-icon [icon]="faCog"></fa-icon> Paramètres & Sécurité
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" routerLink="/admin/support">
        <fa-icon [icon]="faLifeRing"></fa-icon> Support & Aide
      </a>
    </li>
  </ul>
</nav>
