<aside class="sidebar">
  
<!-- Photo + Nom -->
<div class="profil-container text-center">
  <h2>Mon Profil</h2>

 
  <img [src]="profil.photo" alt="Photo de profil" class="profil-photo">
 
  <h3>{{ currentUser?.username || 'PROFIL' }}</h3>

  <!-- Status avec badge -->
  <h4>
  <span 
  class="status-badge" 
  [ngClass]="{
    'active': candidat?.status === 'active',
    'desactive': candidat?.status === 'desactive',
    'en attente validation': candidat?.status === 'en_attente_validation',
    'incomplet': candidat?.status === 'incomplet',
    'complet': candidat?.status === 'pret'
  }">
  {{ candidat?.status || 'nouveau compte' }}
</span>
  </h4>
</div>

  <!-- 📌 Liens rapides -->
  <div class="profile-links">
    <ul>
      
      <li><a routerLink="/candidat/offres-emploi">💼 Voir les offres</a></li>
      <li><a routerLink="/candidat/settings">⚙️Mon compte</a></li>
      <li><a routerLink="/candidat/mes-candidatures">📄 Mes candidatures</a></li>
      <li><a routerLink="/candidat/favorites">⭐ Offres sauvegardées</a></li>
      <li><a routerLink="/candidat/alerts">🔔 Mes alertes emploi</a></li>
      
     
      <li><a routerLink="/candidat/support">🆘 Support & Aide</a></li>     
     <li><a routerLink="/login"><fa-icon [icon]="faLogout"></fa-icon>🚪 Déconnexion</a></li>
    </ul>
  </div>

  <!-- 📌 Suivi candidatures -->
  <div class="profile-actions">
    <ul>
      <li *ngFor="let c of candidatures">
        {{ c.offre }} - <b>{{ c.status }}</b>
      </li>
    </ul>
  </div>
</aside>

