.sidebar {
  position: fixed;
  top: 60px; /* démarre sous la navbar */
  left: 0;
  width: 260px;
  height: calc(100% - 60px); /* toute la hauteur dispo */
  background: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* commence en haut */
  align-items: center;
  padding-top: 80px; /* décale vers le bas (ajuste la valeur) */
}
