<aside class="sidebar">
  
<!-- Photo + Nom -->
 <div class="profil-container text-center">
  <h2>Mon Profil</h2>
  <img [src]="profil.photo" alt="Photo de profil" class="profil-photo">
  <h2>{{ currentUser?.username || 'PROFIL' }}</h2>
</div>
  <!-- 📌 Liens rapides -->
  <div class="profile-links">
    <ul>
      <li><a routerLink="/candidat/settings">⚙️Paramètres du compte</a></li>
      <li><a routerLink="/candidat/mes-candidatures">📄 Mes candidatures</a></li>
      <li><a routerLink="/candidat/favorites">⭐ Offres sauvegardées</a></li>
      <li><a routerLink="/candidat/alerts">🔔 Mes alertes emploi</a></li>
      <li><a routerLink="/candidat/offres-emploi">💼 Voir les offres</a></li>
    </ul>
  </div>

  <!-- 📌 Suivi candidatures -->
  <div class="profile-actions">
    <ul>
      <li *ngFor="let c of candidatures">
        {{ c.offre }} - <b>{{ c.status }}</b>
      </li>
    </ul>
  </div>
</aside>

