.sidebar {
  position: fixed;
  top: 80px; /* hauteur de la navbar */
  left: 0;
  width: 260px;
  height: calc(100vh - 60px); /* toute la hauteur disponible sous navbar */
  background: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  padding: 20px;
  overflow-y: auto; /* scroll si contenu dépasse */
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* commence en haut */
  align-items: stretch; /* les éléments prennent toute la largeur */
}

/* Ajustement pour les petits écrans */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    border-right: none;
    box-shadow: none;
    padding: 10px;
  }
}


.profil-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
  justify-content: center; /* centre verticalement si nécessaire */
  text-align: center;
 margin: 30px auto 0 auto;/* centre par rapport au conteneur parent */
}

.profil-photo {
  width: 120px; /* ajuste selon ton design */
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; /* espace entre photo et h2 */
}

.profil-container h2 {
  font-size: 1.8rem; /* ajuste la taille du texte */
  margin: 0;
}
