


.layout-container {
  display: flex;
  min-height: 100vh;
  padding-top: 60px; /* égal à la hauteur de la navbar */
}

.sidebar {
  width: 250px;               /* largeur fixe */
  background-color: #f8f9fa;  /* couleur plus neutre */
  padding: 20px;
  border-right: 1px solid #ddd; /* ligne de séparation */
}
.main-content {
  flex: 1;
  padding: 20px;
  margin: 0;               /* supprime les espaces autour */
  margin-left: 260px;      /* largeur sidebar si elle est à gauche */
}
