<div class="container mt-4">
  <h2>Espace Entreprise</h2>

 <!-- Formulaire pour ajouter/modifier une offre -->
<div class="card p-3 mb-4">
  <h5>{{ isEditing ? 'Modifier Offre' : 'Nouvelle Offre' }}</h5>

  <input type="text" class="form-control mb-2" placeholder="Nom du poste" [(ngModel)]="newJob.title">
  <input type="number" class="form-control mb-2" placeholder="Salaire (prix)" [(ngModel)]="newJob.salary">
  <textarea class="form-control mb-2" placeholder="Description" [(ngModel)]="newJob.description"></textarea>
  <input type="text" class="form-control mb-2" placeholder="Catégorie" [(ngModel)]="newJob.category">
  

  <button class="btn btn-primary" (click)="addJob()">
    {{ isEditing ? 'Modifier' : 'Ajouter' }}
  </button>
</div>

  <!-- Liste des offres -->
<div class="row">
  <div class="col-md-4" *ngFor="let job of jobOffers">
    <div class="card mb-3">
      
      <div class="card-body">
        <h5 class="card-title">{{ job.title }}</h5>
        <p class="card-text">{{ job.description }}</p>
        <p><b>Salaire :</b> {{ job.salary }} €</p>
        <p><b>Catégorie :</b> {{ job.category }}</p>
        <button class="btn btn-warning btn-sm me-2" (click)="editJob(job)">Modifier</button>
        <button class="btn btn-danger btn-sm" (click)="deleteJob(job.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
</div>
